.avitar {
	border-radius: 50%;
	width: 100%;
	max-width: 300px;
}

.clearfix {
    overflow: auto;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.vertical-center-md {
  display: flex;
  align-items: center;
}


}